*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.sectionone{
    position: relative;
}
.body{
    scroll-snap-type:y mandatory;
    overflow-y: auto;
    height: 100vh;
}
nav {
    position: absolute;
    top: 3px;
    padding: 20px;
}
nav ul {
    list-style: none;
    top: 3px;
    display: inline-flex;
    padding: 0px 20px;
    gap: 6vw;
    
}
nav ul li {
  
   color: white;
}
.sectionone{
    height: 100vh;
    width: 100%;
    position: relative;
    scroll-snap-align: center;
}
.sectiontwo{
    height: 100vh;
    width: 100%;
    background: linear-gradient(blue,red);
    scroll-snap-align: center;

}
.logo{
    width: 60px;
    height: auto;
    margin: 0px 20px;
}
.text{
    height: 100vh;
    width: 100%;
    position: absolute;
    color: white;
    
}
.text h1{
    font-weight: bolder;
    font-size: 3rem;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    background: linear-gradient(18deg,blue, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
    
    
}
.text h1 ,h3{
    padding: 10px;
}
.text button{
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    background: transparent;
    width: 120px;
}

.video{
   object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}

